<div class="header">
  <h1>Clientes</h1>
  <button routerLink="/new-debtor">Adicionar cliente</button>
</div>

<table id="customers">
  <tr>
    <th>Nome</th>
    <th>Próximo vencimento</th>
    <th>Valor parcela</th>
    <th>Parcelas restantes</th>
    <th>Valor total</th>
    <th style="text-align: center;">Opções</th>
  </tr>
  <tr *ngFor="let client of clients">
    <td>{{ client.Name }}</td>
    <td>{{ client.Date }}</td>
    <td>R$ {{ client.ValueParc }}</td>
    <td>{{ client.NumberParc }}x</td>
    <td>R$ {{ client.Value }}</td>
    <td style="display: flex; gap: 15px; justify-content: center;">
      <button>Editar</button>
      <button>Deletar</button>
    </td>
  </tr>
</table>
